<form action="game.php" method="post">
    <b id="form-caption">Let's play a game!</b>
    <div id="input-and-caption">
        <label for="number-for-game">Enter the your number</label>
        <input id="number-for-game" name="numberForGame" type="number" placeholder="Enter the number" autofocus required>
    </div>
    <input id="button" type="submit" value="Forward!">
</form>