<?php
require_once 'helpFunctions.php';
?>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/game.css">
    <title>Let's play!</title>
</head>

<body>
    <a id="quit-and-come-back" href="/">Quit the game and go back</a>
    <?php
    $enteredNumber = $_POST['numberForGame'];
    if (!is_null($enteredNumber)) {
        $secretNumber = random_int(5, 8);
        if ($enteredNumber >= 5 && $enteredNumber <= 8) {
            if ($enteredNumber == $secretNumber) {
                showMessageSubmissionResult('Congratulations! You guessed the number :)', true, 'Play more');
            } else {
                showMessageSubmissionResult('Oops! You haven\'t guessed the number :(', true, 'Try again');
            }
        } else {
            include 'formForGame.html';
            if ($enteredNumber < 5) {
                showMessageSubmissionResult('The entered number is too small!');
            } else {
                showMessageSubmissionResult('The entered number is too large!');
            }
        }
    } else {
        include 'formForGame.html';
    }
    ?>
</body>

</html>