body {
    margin: 0;
    padding: 60px;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 15px;
    align-items: center;
}

a {
    display: inline-block;
    color: blue;
}

p {
    font-size: 20px;
    font-weight: bold;
}

#quit-and-come-back {
    margin-bottom: 10px;
}

#form-caption {
    margin: 5px auto 20px auto;
    border-bottom: 1px solid black;
}

#input-and-caption {
    margin-bottom: 20px;
    font-size: 14px;
}

#input-and-caption label {
    display: block;
    margin-bottom: 5px;
}

#input-and-caption input{
    box-sizing: border-box;
    width: 300px;
}

#button {
    width: 200px;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
}

#submitted-info {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

#button-back-game {
    background: #467DF2;
    border-radius: 10px;
    padding: 10px 18px;
    color: white;
    text-decoration: none;
}

#button-back-game:hover {
    background: #2F54A3;
}
