body {
    margin: 0;
    padding-bottom: 40px;
}

table, td {
    border: 1px solid #000;
    border-collapse: collapse;
}
td {
    width: 50px;
    height: 50px;
}

#flex {
    display: flex;
    justify-content: space-around;
}

#form-game {
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid black;
    border-radius:50px;
}

#form-game input {
    width: 300px;
    height: 100px;
    font-size: 30px;
    cursor: pointer;
}

.task-result {
    font-size: 13px;
}

.bg-red {
    background: #f00;
}
.bg-green {
    background: #0f0;
}
