body {
    margin: 0;
    padding: 0 60px 40px 60px;
}

hr {
    margin-top: 40px;
    color: red;
}

.task-caption {
    display: block;
    margin-top: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 15px;
    align-items: center;
}

.form-caption {
    margin: 5px auto 20px auto;
    border-bottom: 1px solid black;
}

.submitted-info {
    border: 1px solid black;
    padding: 15px;
}

.tub{
    padding-left: 30px;
}

.input-and-caption input, .input-and-caption textarea, .input-and-caption select {
    box-sizing: border-box;
    width: 300px;
}

.input-and-caption {
    margin-bottom: 20px;
    font-size: 14px;
}

.input-and-caption label {
    display: block;
    margin-bottom: 5px;
}

.buttons input {
    width: 100px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

#input-file {
    text-align: center;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 2px;
}

img {
    width: 300px;
}
