<form class="task-result" action="index.php" method="post">
    <b class="form-caption">Calculate the cost of your holiday</b>
    <div class="input-and-caption">
        <label>Country of holiday</label>
        <select name="holidayCountry" placeholder="Enter the country of your holiday" required>
            <?php
                foreach (COUNTRIES as $key => $value) {
                    echo '<option value="$key">'.COUNTRIES[$key][0]. '</option>';
                }
            ?>
        </select>
    </div>
    <div class="input-and-caption">
        <label for="number-holiday-days">Number of holiday days</label>
        <input id="number-holiday-days" name="numHolidayDays" type="number" placeholder="Enter the number of holiday days" min="1" required>
    </div>
    <div class="input-and-caption">
        <label id="checkbox-caption">
            <input class="checkbox" name="isHolidayDiscount" type="checkbox" value="1">
            I have a discount
        </label>
    </div>
    <div class="buttons">
        <input type="submit" name="costHolidayForm" value="Send">
        <input type="reset" value="Clear">
    </div>
</form>