<form class="task-result" action="index.php" method="post">
    <b class="form-caption">Registration</b>
    <div class="input-and-caption">
        <label for="registration-name">Your name</label>
        <input id="registration-name" name="registrName" type="text" placeholder="Enter your name">
    </div>
    <div class="input-and-caption">
        <label for="registration-password">Your password</label>
        <input id="registration-password" name="registrPassword" type="password" placeholder="Enter your password">
    </div>
    <div class="input-and-caption">
        <label for="registration-email">Your email</label>
        <input id="registration-email" name="registrEmail" type="text" placeholder="Enter your email">
    </div>
    <div class="buttons">
        <input type="submit" name="registrForm" value="Send">
        <input type="reset" value="Clear">
    </div>
</form>