<form class="task-result" action="index.php" method="post">
<b class="form-caption">Repeating the phrase!</b>
<div class="input-and-caption">
    <label for="number-repetitions">Number of repetitions</label>
    <input id="number-repetitions" name="numRepetitions" type="number" placeholder="Enter the number of repetitions" min="1" required>
</div>
<div class="buttons">
    <input type="submit" name="repeatPhraseForm" value="Send">
    <input type="reset" value="Clear">
</div>
</form>